This notebook is to be used for my IBM Data Science coursera course capstone.

In [4]:
import pandas as pd
import numpy as np

Import the geodata file we have found for Colorado

In [11]:
df_colorado = pd.read_csv('us-zip-code.csv', sep = ";")

In [12]:
df_colorado.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,80309,Boulder,CO,40.087835,-105.373507,-7,1,"40.087835,-105.373507"
1,80807,Burlington,CO,39.312400,-102.250940,-7,1,"39.3124,-102.25094"
2,81076,Sugar City,CO,38.261440,-103.671010,-7,1,"38.26144,-103.67101"
3,80525,Fort Collins,CO,40.532354,-105.053500,-7,1,"40.532354,-105.0535"
4,80610,Ault,CO,40.617980,-104.667620,-7,1,"40.61798,-104.66762"

Take only the Denver data points and drop all unneccesary columns

In [14]:
df_denver = df_colorado[df_colorado['City']=="Denver"]

In [19]:
df_denver = df_denver.drop(columns = ["Timezone", "Daylight savings time flag","geopoint"])

Sort values by zipcode and then make that the index

In [22]:
df_denver = df_denver.sort_values(by=['Zip'])
df_denver = df_denver.set_index('Zip')
df_denver.head()

         City State   Latitude   Longitude
Zip
80201  Denver    CO  39.726303 -104.856808
80202  Denver    CO  39.751586 -104.996990
80203  Denver    CO  39.731286 -104.983060
80204  Denver    CO  39.734686 -105.019660
80205  Denver    CO  39.758986 -104.966780

In [25]:
df_denver.shape

(75, 4)